<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <th:block th:replace="layout/fragments/head :: headFragment(title='Create a Daily Course')"></th:block>
      <!-- 사이드바 -->
    <th:block th:replace="layout/fragments/sidebar :: sidebarFragment(current='Create a Daily Course')"></th:block>
    <style>
        #center{
          width: 100%;
        }
        #main{
            width:70%;
            float:left;
            text-align: center;
        }
        #side{
            width:30%;
            float:right;
            text-align: center;
        }
      </style>
    <th:block layout:fragment="content" class="container my-3">
        <div id="center" th:each="item : ${detail}">
            <div id="main" >
                <div id="capture_area" >
                    <h2 class="fw-bold">My Course</h2>
                    <tr class="text-center" >
                        <span class="badge rounded-pill text-bg-danger">Start!</span>
                        <td th:text="${item.name1}">no1</td>
                        &nbsp;&nbsp;
                        <td th:text="${item.name2} ">no2</td>
                        &nbsp;&nbsp;
                        <td th:text="${item.name3} ">no3</td>
                        &nbsp;&nbsp;
                        <td th:text="${item.name4} ">no4</td>
                        &nbsp;&nbsp;
                        <td th:text="${item.name5} ">no5</td>
                        <br>
                        <br>
                    </tr>
                </div>
                        
            </div>  
            <div id="side">
                <br>
                <button type="button" id="btn_download" class="btn btn-light"><img src="/images/1904659-arrow-backup-down-download-save-storage-transfer_122509.png" style="width:30px; height:30px;"></button>
                <form th:action="@{|/rental/delete/${item.id}|}" method="GET">
                    <input type="submit" id="removebtn" name="removebtn" class="btn btn-danger" value="Course Remove">    
                </form> 
            </div>
        </div>
        
            
        
        
        <!-- <a th:href="@{|/rental/delete/${item.id}|}" class="btn btn-danger" value="Course Remove"></a> -->
        <!-- <input type="submit" id="removebtn" name="removebtn" class="btn btn-danger" value="Course Remove" onclick="location_remove();"> -->
        <br>
        
        <!-- //지도 API 사용 -->
        <div id="map" style="width:100%; height:1000px;"></div>
    
        

        <th:block th:replace="layout/fragments/script :: scriptFragment"></th:block>
    </th:block>

    <script defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB5bv_f-dUTVo2dIeicLVVJ2ILIlPQL6Xo&language=en&callback=initMap"></script>
<script src="https://html2canvas.hertzen.com/dist/html2canvas.min.js"></script>
<script  th:inline="javascript">

$(function() {
        
    initMap();
        
});
$(function(){
    $("#btn_download").click(function(e){
        html2canvas(document.getElementById("capture_area")).then(function(canvas) {
            var el = document.createElement("a")
            el.href = canvas.toDataURL("image/jpeg")
            el.download = 'course.jpg' //다운로드 할 파일명 설정
            el.click()
        })
    })
});
    
    
function initMap() { 
    /*<![CDATA[*/
    /*[# th:each="tmp : ${detail}"]*/
    noti(/*[[${tmp.name1}]]*/, /*[[${tmp.lat1}]]*/ , /*[[${tmp.lng1}]]*/, /*[[${tmp.name2}]]*/ , /*[[${tmp.lat2}]]*/ , /*[[${tmp.lng2}]]*/, /*[[${tmp.name3}]]*/ , /*[[${tmp.lat3}]]*/ , /*[[${tmp.lng3}]]*/, /*[[${tmp.name4}]]*/ , /*[[${tmp.lat4}]]*/ , /*[[${tmp.lng4}]]*/, /*[[${tmp.name5}]]*/ , /*[[${tmp.lat5}]]*/ , /*[[${tmp.lng5}]]*/)
    /*[/]*/
    /*]]>*/
    
    function noti(name1, lat1, lng1, name2, lat2, lng2, name3, lat3, lng3, name4, lat4, lng4, name5, lat5, lng5){
            // console.log(name1, lat1, lng1, name2, lat2, lng2, name3, lat3, lng3, name4, lat4, lng4, name5, lat5, lng5);
            var areaArr = new Array();  // 지역을 담는 배열 ( 지역명/위도경도 )
            areaArr.push(
                
            {location : name1 , lat : lat1 , lng : lng1},  
            {location : name2 , lat : lat2 , lng : lng2},  
            {location : name3 , lat : lat3 , lng : lng3},  
            {location : name4 , lat : lat4 , lng : lng4},  
            {location : name5 , lat : lat5 , lng : lng5} 
            
            );
            //본인 위치 표시
            var position = new google.maps.LatLng(lat1, lng1);

            var map = new google.maps.Map(document.getElementById("map"), {
                center: position,
                zoom: 15
            });
            var bicycleLayer = new google.maps.BicyclingLayer();
            bicycleLayer.setMap(map);
            for (var i = 0; i < areaArr.length; i++) {
                // 지역을 담은 배열의 길이만큼 for문으로 마커와 정보창을 채워주자 !

                var marker = new google.maps.Marker({
                    map: map,
                    title: areaArr[i].location, // 지역구 이름 
                    position: new google.maps.LatLng(areaArr[i].lat , areaArr[i].lng) // 지역구의 위도 경도 넣기 
                });
                
            }
            
            if(lng3 == "" && lng4 == "" && lng5 == ""){
                var polylinePath = [
                    new google.maps.LatLng(lat1, lng1),
                    new google.maps.LatLng(lat2, lng2)
                ];
                var polyline = new google.maps.Polyline({
                        path: polylinePath,      //선 위치 변수배열
                        strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
                        strokeOpacity: 0.8, //선 투명도 0 ~ 1
                        strokeWeight: 3,   //선 두께
                        map: map           //오버레이할 지도
                    }); 
            }
            else if(lng4 == "" && lng5 == ""){
                var polylinePath = [
                        new google.maps.LatLng(lat1, lng1),
                        new google.maps.LatLng(lat2, lng2),
                        new google.maps.LatLng(lat3, lng3)
                    ];
                    var polyline = new google.maps.Polyline({
                            path: polylinePath,      //선 위치 변수배열
                            strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
                            strokeOpacity: 0.8, //선 투명도 0 ~ 1
                            strokeWeight: 3,   //선 두께
                            map: map           //오버레이할 지도
                        });
            }
            else if(lng5 == ""){
                var polylinePath = [
                        new google.maps.LatLng(lat1, lng1),
                        new google.maps.LatLng(lat2, lng2),
                        new google.maps.LatLng(lat3, lng3),
                        new google.maps.LatLng(lat4, lng4)
                    ];
                    var polyline = new google.maps.Polyline({
                            path: polylinePath,      //선 위치 변수배열
                            strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
                            strokeOpacity: 0.8, //선 투명도 0 ~ 1
                            strokeWeight: 3,   //선 두께
                            map: map           //오버레이할 지도
                        });
            }
            else{
                var polylinePath = [
                        new google.maps.LatLng(lat1, lng1),
                        new google.maps.LatLng(lat2, lng2),
                        new google.maps.LatLng(lat3, lng3),
                        new google.maps.LatLng(lat4, lng4),
                        new google.maps.LatLng(lat5, lng5)
                    ];
                    var polyline = new google.maps.Polyline({
                            path: polylinePath,      //선 위치 변수배열
                            strokeColor: '#FF0000', //선 색 빨강 #빨강,초록,파랑
                            strokeOpacity: 0.8, //선 투명도 0 ~ 1
                            strokeWeight: 3,   //선 두께
                            map: map           //오버레이할 지도
                        });
            }
            
            
        }



        
}
</script>
</html>