<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <link rel="stylesheet" href="/css/Bukchon-Hanok-Village.css" media="screen">
<th:block th:replace="layout/fragments/head :: headFragment(title='Bukchon Hanok Village')"></th:block>
<!-- 사이드바 -->
<th:block th:replace="layout/fragments/sidebar :: sidebarFragment(current='Bukchon Hanok Village')"></th:block>
<body class="u-body u-xl-mode" data-lang="en">
    <section class="u-clearfix u-palette-2-light-2 u-section-1" id="sec-17fc">
      <div class="u-clearfix u-sheet u-sheet-1"><span class="u-file-icon u-icon u-icon-1"><img src="/images/4480645.png" alt=""></span>
        <h2 class="u-align-center u-text u-text-default u-text-1"> Bicycle trip to&nbsp;<br>Bukchon Hanok Village
        </h2>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-image u-section-2" id="sec-5cd9" data-image-width="1600" data-image-height="1066">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-palette-1-light-2 u-section-3" id="sec-1774">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1"> Bukchon Hanok Village</h3>
        <p class="u-text u-text-2"> If you are curious about how Seoul looked 600 years ago, a visit to the Bukchon Hanok Village is in order. Located between the Gyeongbokgung Palace and the Changgyeonggung Palace, the village was inhabited by high- ranking officials during the Joseon period. Rows of hanok houses with their distinctive roofs stand in harmony with the Namsan Mountain and high-rise buildings. The Bukchon-ro street divides the village into two sections, and most of the tourists visit the attractions located on the street’s left portion.<br>
          <br> The narrow alleyways wind around attractions offering activities inspired by Korean traditions, various souvenir shops, cafes in beautiful hanok buildings, and an observatory. The village is a nice place for a walk, but please refrain from going into random homes and keep your voice down while going around the village, because many of those houses are residential. The nearest bike rental station is at the junction in front of the Jaedong Elementary School.
        </p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-light-2 u-section-4" id="sec-1231">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="700" data-image-height="467">
                <img class="u-back-image u-expanded" src="http://tong.visitkorea.or.kr/img/vk/enu/tourPerform/content/13/2700913_1_16.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="916" data-image-height="830">
                <img class="u-back-image u-expanded" src="https://korean.visitseoul.net/data/kukudocs/seoul2133/20220603/202206031326384881.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
        <blockquote class="u-align-left u-border-4 u-border-grey-75 u-text u-text-1"><span class="u-file-icon u-icon"><img src="/images/2838912.png" alt=""></span>&nbsp; <b>Recommended Course&nbsp;</b> Unhyeongung Palace&nbsp;→ ​Bukchon Culture Center&nbsp;→ ​Choongang Middle &amp; High Schooll → ​Gahoedong&nbsp;→ ​​Jeongdok Public Library&nbsp;→ Paik In-je’s House<br><b><span class="u-file-icon u-icon"><img src="/images/503054.png" alt=""></span>&nbsp;Distance&nbsp;</b>2.5 km<br><b><span class="u-file-icon u-icon"><img src="/images/4147093.png" alt=""></span>&nbsp;Duration&nbsp;</b> Approx. 20 mins<br><b><span class="u-file-icon u-icon"><img src="/images/8707823.png" alt=""></span>&nbsp;Ddareungi Dock&nbsp;</b> 337 Changgyeonggung Palace Entrance
        </blockquote>
      </div>
    </section>
    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>Make with Kim</span>
      </p>,
      <p class="u-text">
          <span>Make with Yee</span>
      </p>,
      <p class="u-text">
          <span>Make with Jung</span>
      </p>
    </section>
  
</body>

</html>