<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <link rel="stylesheet" href="/css/Cheonggyecheon-Stream.css" media="screen">
<th:block th:replace="layout/fragments/head :: headFragment(title='Cheonggyecheon Stream')"></th:block>
<!-- 사이드바 -->
<th:block th:replace="layout/fragments/sidebar :: sidebarFragment(current='Cheonggyecheon Stream')"></th:block>

<body class="u-body u-xl-mode" data-lang="en">
    <section class="u-clearfix u-palette-2-light-2 u-section-1" id="sec-17fc">
      <div class="u-clearfix u-sheet u-sheet-1"><span class="u-file-icon u-icon u-icon-1"><img src="/images/4480858.png" alt=""></span>
        <h2 class="u-align-center u-text u-text-default u-text-1"> Clean air and Clean water<br> Cheonggyecheon Stream 
        </h2>
      </div>
    </section>
    <section class="u-clearfix u-container-align-center u-image u-section-2" id="sec-5cd9" data-image-width="1100" data-image-height="618">
      <div class="u-clearfix u-sheet u-sheet-1"></div>
    </section>
    <section class="u-clearfix u-palette-1-light-2 u-section-3" id="sec-1774">
      <div class="u-clearfix u-sheet u-valign-middle u-sheet-1">
        <h3 class="u-text u-text-1"> Cheonggyecheon</h3>
        <p class="u-text u-text-2"> This tour takes visitors on a stroll down Cheonggyecheon (Cheonggye Stream), an 11km long modern stream that runs through downtown Seoul. Created as part of an urban renewal project, Cheonggyecheon is a restoration of the stream that was once there before during the Joseon Dynasty (1392-1910). The stream was covered with an elevated highway after the Korean War (1950-1953), as part of the country's post-war economic development.&nbsp;<br>
          <br>Then in 2003, the elevated highway was removed to restore the stream to its present form today. The stream starts from Cheonggye Plaza, a popular cultural arts venue, and passes under a total of 22 bridges before flowing into the Hangang (Han River), with many attractions along its length. The tour then proceeds to Dongdaemun Design Plaza &amp; Park, the future of design and leisure in Seoul.
        </p>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-light-2 u-section-4" id="sec-1231">
      <div class="u-clearfix u-sheet u-sheet-1">
        <div class="u-expanded-width u-gallery u-layout-grid u-lightbox u-show-text-on-hover u-gallery-1">
          <div class="u-gallery-inner u-gallery-inner-1">
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="2000" data-image-height="1333">
                <img class="u-back-image u-expanded" src="https://bikem.co.kr/fileuploader/php/files/202108/134362.jpg">
              </div>
              <div class="u-over-slide u-shading u-over-slide-1">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
            <div class="u-effect-fade u-gallery-item">
              <div class="u-back-slide" data-image-width="1304" data-image-height="860">
                <img class="u-back-image u-expanded" src="https://korean.visitseoul.net/data/kukudocs/seoul2133/20220603/202206031007045841.png">
              </div>
              <div class="u-over-slide u-shading u-over-slide-2">
                <h3 class="u-gallery-heading"></h3>
                <p class="u-gallery-text"></p>
              </div>
            </div>
          </div>
        </div>
        <blockquote class="u-align-left u-border-4 u-border-grey-75 u-text u-text-1"><span class="u-file-icon u-icon"><img src="/images/2838912.png" alt=""></span>&nbsp; <b>Recommended Course&nbsp;</b> Cheonggye Plaza&nbsp;→ Gwangtonggyo&nbsp;→ Samilgyo&nbsp;→ Supyogyo&nbsp;→ Saebyeokdari&nbsp;→ Gwangjang Market&nbsp;→ Ogansugyo&nbsp;→ Igansmumun Floodgate<br><b><span class="u-file-icon u-icon"><img src="/images/503054.png" alt=""></span>&nbsp;Distance&nbsp;</b>4.8km<br><b><span class="u-file-icon u-icon"><img src="/images/4147093.png" alt=""></span>&nbsp;Duration&nbsp;</b> Approx. 20 mins<br><b><span class="u-file-icon u-icon"><img src="/images/8707823.png" alt=""></span>&nbsp;Ddareungi Dock&nbsp;</b> Next to Cheonggye Plaza (310)
        </blockquote>
      </div>
    </section>
    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>Make with Kim</span>
      </p>,
      <p class="u-text">
          <span>Make with Yee</span>
      </p>,
      <p class="u-text">
          <span>Make with Jung</span>
      </p>
    </section>
  
</body>

</html>