<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      <link rel="stylesheet" href="/css/Check-Course.css" media="screen">
<th:block th:replace="layout/fragments/head :: headFragment(title='Check Course')"></th:block>
<!-- 사이드바 -->
<th:block th:replace="layout/fragments/sidebar :: sidebarFragment(current='Check out the Course')"></th:block>

<th:block layout:fragment="content" class="container my-3">
  <body class="u-body u-xl-mode" data-lang="en">
    <section class="u-clearfix u-image u-section-1" src="" id="carousel_78b9" data-image-width="1600" data-image-height="1066">
      <div class="u-clearfix u-sheet u-valign-bottom u-sheet-1">
        <div class="u-align-left u-container-style u-group u-shape-rectangle u-group-1">
          <div class="u-container-layout u-valign-middle u-container-layout-1">
            <h2 class="u-text u-text-1">
              <span style="font-weight: normal;">How to Check Course</span>
            </h2>
            <p class="u-large-text u-text u-text-variant u-text-2"> You can experience various courses through the post below.<br>If you want to create your own course, click the button below.<br>
            </p>
            <a href="/rental/mycourse" class="u-active-palette-4-dark-3 u-border-none u-btn u-button-style u-hover-palette-4-dark-3 u-palette-3-base u-btn-1" title="read more">Create Course</a>
          </div>
        </div>
      </div>
    </section>
    <section class="u-align-center u-clearfix u-palette-2-base u-section-2" src="" id="carousel_e09b">
      <div class="u-expanded-width u-grey-10 u-shape u-shape-rectangle u-shape-1"></div>
      <h2 class="u-text u-text-body-color u-text-default-lg u-text-default-xl u-text-1">Unique travel experiences</h2>
      <p class="u-text u-text-body-color u-text-2"> Experience various courses through Seoul Bicycles</p>
      <div class="u-layout-horizontal u-list u-list-1">
        <div class="u-repeater u-repeater-1">
          <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-white u-list-item-1">
            <div class="u-container-layout u-similar-container u-container-layout-1">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-30 u-image-1" src="/images/ddb8111f-eb1f-b065-a483-222145495fe6.png" data-image-width="1000" data-image-height="560">
              <h5 class="u-text u-text-black u-text-default u-text-3"> Yeouido</h5>
              <p class="u-custom-item u-text u-text-grey-50 u-text-4"> This is the perfect time to go on a trip to the Hangang River. You’ll only need the help of two bicycle wheels to enjoy a scenic ride through Hangang Parks bypassing some of Seoul’s major bridges. Start from Yeouido, the center of Seoul’s politics, media and finance, and you’ll reach Yeouido Hangang Park in no time...</p>
              <a href="Yeouido" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-1">more</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-2">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-30 u-image-2" src="/images/dcbcf0af-af72-8a0a-0155-28cd93e4599b.jpg" data-image-width="1300" data-image-height="865">
              <h5 class="u-text u-text-black u-text-default u-text-5"> Bukchon Hanok Village</h5>
              <p class="u-custom-item u-text u-text-grey-50 u-text-6"> This tour takes visitors around the area of Bukchon Hanok Village, the only place in Seoul where hundreds of traditional Korean houses, or hanoks, are clustered together. Bukchon Hanok Village is an important area for culture and the arts, with its number of museums, craft workshops and historic landmarks...</p>
              <a href="Bukchon_Hanok_Village" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-2">more</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-3">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-30 u-image-3" src="/images/55e290c6-d3d0-876c-988b-76af5b5d91cf.jpg" data-image-width="1100" data-image-height="618">
              <h5 class="u-text u-text-black u-text-default u-text-7"> Cheonggyecheon Stream</h5>
              <p class="u-custom-item u-text u-text-grey-50 u-text-8"> This tour takes visitors on a stroll down Cheonggyecheon (Cheonggye Stream), an 11km long modern stream that runs through downtown Seoul. Created as part of an urban renewal project, Cheonggyecheon is a restoration of the stream that was once there before during the Joseon Dynasty (1392-1910)...</p>
              <a href="Cheonggyecheon_Stream" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-3">more</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-4">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-30 u-image-4" data-image-width="600" data-image-height="391" src="/images/71967_9532_5041.jpg">
              <h5 class="u-text u-text-black u-text-default u-text-9"> Yeouido Bicycle Path</h5>
              <p class="u-custom-item u-text u-text-grey-50 u-text-10">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              <a href="https://www.mindgil.com/news/articleView.html?idxno=71967" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-4">more</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-5">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-30 u-image-5" data-image-width="630" data-image-height="346" src="/images/71b0b3cf941a4e379de160e270ad6dbe.jpg">
              <h5 class="u-text u-text-black u-text-default u-text-11"> When I rode the "Saetgang Bicycle Road" in Yeouido,</h5>
              <p class="u-custom-item u-text u-text-grey-50 u-text-12">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              <a href="https://mediahub.seoul.go.kr/archives/1098277" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-5">more</a>
            </div>
          </div>
          <div class="u-align-center u-container-style u-list-item u-radius-50 u-repeater-item u-shape-round u-video-cover u-white">
            <div class="u-container-layout u-similar-container u-container-layout-6">
              <img alt="" class="u-expanded-width u-image u-image-round u-radius-30 u-image-6" data-image-width="1600" data-image-height="1067" src="/images/htm_2015110615452242106.JPG">
              <h5 class="u-text u-text-black u-text-default u-text-13"> [Hot clip] Four bike paths with the atmosphere of the Han River.</h5>
              <p class="u-custom-item u-text u-text-grey-50 u-text-14">Sample text. Click to select the text box. Click again or double click to start editing the text.</p>
              <a href="https://www.joongang.co.kr/article/19029281#home" class="u-active-none u-align-center u-border-1 u-border-active-grey-60 u-border-black u-border-hover-grey-60 u-border-no-left u-border-no-right u-border-no-top u-btn u-button-style u-hover-none u-none u-text-body-color u-btn-6">more</a>
            </div>
          </div>
        </div>
        <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-prev u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-1" href="#" role="button">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.847 451.847"><path d="M97.141,225.92c0-8.095,3.091-16.192,9.259-22.366L300.689,9.27c12.359-12.359,32.397-12.359,44.751,0
c12.354,12.354,12.354,32.388,0,44.748L173.525,225.92l171.903,171.909c12.354,12.354,12.354,32.391,0,44.744
c-12.354,12.365-32.386,12.365-44.745,0l-194.29-194.281C100.226,242.115,97.141,234.018,97.141,225.92z"></path></svg>
          </span>
        </a>
        <a class="u-absolute-vcenter u-gallery-nav u-gallery-nav-next u-grey-70 u-icon-circle u-opacity u-opacity-70 u-spacing-10 u-text-white u-gallery-nav-2" href="#" role="button">
          <span aria-hidden="true">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
          <span class="sr-only">
            <svg viewBox="0 0 451.846 451.847"><path d="M345.441,248.292L151.154,442.573c-12.359,12.365-32.397,12.365-44.75,0c-12.354-12.354-12.354-32.391,0-44.744
L278.318,225.92L106.409,54.017c-12.354-12.359-12.354-32.394,0-44.748c12.354-12.359,32.391-12.359,44.75,0l194.287,194.284
c6.177,6.18,9.262,14.271,9.262,22.366C354.708,234.018,351.617,242.115,345.441,248.292z"></path></svg>
          </span>
        </a>
      </div>
    </section>
    
    
    
    <section class="u-backlink u-clearfix u-grey-80">
      <p class="u-text">
        <span>Make with Kim</span>
      </p>,
      <p class="u-text">
          <span>Make with Yee</span>
      </p>,
      <p class="u-text">
          <span>Make with Jung</span>
      </p>
    </section>
  </body>
</th:block>          
<th:block th:replace="layout/fragments/script :: scriptFragment"></th:block>
</html>