<html xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<th:block th:replace="layout/fragments/head :: headFragment(title='Question')"></th:block>
<th:block th:replace="layout/fragments/sidebar :: sidebarFragment(current='Questioin')"></th:block>
<style>
    img {
        width: 500px;
        height:  50%;
    }
    .card-text {
        width: 50%;
        height:  50%;
    }
    h2 {
        text-align: center; width: 80%; max-width: 800px; margin: 0 auto;
    }
    h5 {
        text-align: center; width: 80%; max-width: 800px; margin: 0 auto;
    }
    
    </style>
<div layout:fragment="content" class="container my-3">
    <!-- 질문 -->
    <h2 class="border-bottom py-2" th:text="${question.subject}"></h2>
    <div class="card my-3" style="width: 80%; max-width: 800px; margin: 0 auto;">
        <div class="card-body">
            <div id="readOnly" class="card-text" style="white-space: pre-line;" th:utext="${question.content}">
            </div>
            <div th:text33="|조회수 : ${question.view}|" class="d-flex justify-content-end fw-bold"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${question.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(question.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${question.author != null}" th:text="${question.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(question.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                    th:data-uri="@{|/question/vote/${question.id}|}">
                    Recommendation
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(question.voter)}"></span>
                </a>
                <a th:href="@{|/question/modify/${question.id}|}" class="btn btn-sm btn-outline-secondary"
                    sec:authorize="isAuthenticated()"
                    th:if="${question.author != null and (#authentication.getPrincipal().getUsername() == question.author.username
                        or #authentication.getPrincipal().getUsername() == 'admin')}"
                    th:text="Modification"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/question/delete/${question.id}|}"
                    class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                    th:if="${question.author != null and (#authentication.getPrincipal().getUsername() == question.author.username
                    or #authentication.getPrincipal().getUsername() == 'admin')}"
                    th:text="Delete"></a>
            </div>
        </div>
    </div>
    <!-- 답변의 갯수 표시 -->
    <h5 class="border-bottom my-3 py-2"
        th:text="|There are ${#lists.size(question.answerList)} answers.|"></h5>
    <!-- 답변 반복 시작 -->
    <div class="card my-3" th:each="answer : ${question.answerList}" style="width: 80%; max-width: 800px; margin: 0 auto;">
        <a th:id="|answer_${answer.id}|"></a>
        <div class="card-body">
            <div class="card-text" style="white-space: pre-line;" th:utext="${answer.content}"></div>
            <div class="d-flex justify-content-end">
                <div th:if="${answer.modifyDate != null}" class="badge bg-light text-dark p-2 text-start mx-3">
                    <div class="mb-2">modified at</div>
                    <div th:text="${#temporals.format(answer.modifyDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
                <div class="badge bg-light text-dark p-2 text-start">
                    <div class="mb-2">
                        <span th:if="${answer.author != null}" th:text="${answer.author.username}"></span>
                    </div>
                    <div th:text="${#temporals.format(answer.createDate, 'yyyy-MM-dd HH:mm')}"></div>
                </div>
            </div>
            <div class="my-3">
                <a href="javascript:void(0);" class="recommend btn btn-sm btn-outline-secondary"
                th:data-uri="@{|/answer/vote/${answer.id}|}">
                Recommendation
                    <span class="badge rounded-pill bg-success" th:text="${#lists.size(answer.voter)}"></span>
                </a>
                <a th:href="@{|/answer/modify/${answer.id}|}" class="btn btn-sm btn-outline-secondary"
                    sec:authorize="isAuthenticated()"
                    th:if="${answer.author != null and (#authentication.getPrincipal().getUsername() 
                        == answer.author.username or #authentication.getPrincipal().getUsername() == 'admin')}"
                    th:text="Modification"></a>
                <a href="javascript:void(0);" th:data-uri="@{|/answer/delete/${answer.id}|}"
                    class="delete btn btn-sm btn-outline-secondary" sec:authorize="isAuthenticated()"
                    th:if="${answer.author != null and (#authentication.getPrincipal().getUsername() 
                        == answer.author.username or #authentication.getPrincipal().getUsername() == 'admin')}"
                    th:text="Delete"></a>
            </div>
        </div>
    </div>
    <!-- 답변 반복 끝 -->
    <!-- 답변 작성 -->
    <form th:action="@{|/answer/create/${question.id}|}" th:object="${answerForm}" method="post" class="my-3" style="width: 80%; max-width: 800px; margin: 0 auto;">
        <div th:replace="~{form_errors :: formErrorsFragment}"></div>
        <textarea id="editor" sec:authorize="isAnonymous()" disabled th:field="*{content}" rows="10" class="form-control"></textarea>
        <textarea id="editor" sec:authorize="isAuthenticated()" th:field="*{content}" rows="10" class="form-control"></textarea>
        <input type="submit" value="Register Answer" class="btn btn-primary my-2">
    </form>
</div>

<script layout:fragment="script" type="text/javascript">
const delete_elements = document.getElementsByClassName("delete");
Array.from(delete_elements).forEach(function(element){
    element.addEventListener('click', function() {
        if (confirm("Are you sure you want to delete it?")){
            location.href = this.dataset.uri;
        };
    });
});
const recommend_elements = document.getElementsByClassName("recommend");
Array.from(recommend_elements).forEach(function(element) {
    element.addEventListener('click', function() {
        if(confirm("Do you really recommend it?")) {
            location.href = this.dataset.uri;
        };
    });
});
</script>
<script type="text/javascript" src="/js/ckeditor.js"></script>
<script>
class MyUploadAdapter {
    constructor( loader ) {
        this.loader = loader;
    }

    upload() {
        return this.loader.file
            .then( file => new Promise( ( resolve, reject ) => {
                this._initRequest();
                this._initListeners( resolve, reject, file );
                this._sendRequest( file );
            } ) );
    }

    abort() {
        if ( this.xhr ) {
            this.xhr.abort();
        }
    }

    _initRequest() {
        const xhr = this.xhr = new XMLHttpRequest();

        xhr.open( 'POST', '/question/create/upload', true );
        xhr.responseType = 'json';
    }

    _initListeners( resolve, reject, file ) {
        const xhr = this.xhr;
        const loader = this.loader;
        const genericErrorText = `Couldn't upload file: ${ file.name }.`;

        xhr.addEventListener( 'error', () => reject( genericErrorText ) );
        xhr.addEventListener( 'abort', () => reject() );
        xhr.addEventListener( 'load', () => {
            const response = xhr.response;

            if ( !response || response.error ) {
                return reject( response && response.error ? response.error.message : genericErrorText );
            }

            resolve( {
                default: response.url
            } );
        } );

        if ( xhr.upload ) {
            xhr.upload.addEventListener( 'progress', evt => {
                if ( evt.lengthComputable ) {
                    loader.uploadTotal = evt.total;
                    loader.uploaded = evt.loaded;
                }
            } );
        }
    }

    _sendRequest( file ) {
        const data = new FormData();

        data.append("upload", file);
        this.xhr.send( data );
    }
}

    function MyCustomUploadAdapterPlugin(editor) {
        editor.plugins.get( 'FileRepository' ).createUploadAdapter = ( loader ) => {
        return new MyUploadAdapter( loader );
    };
}

ClassicEditor
.create( document.querySelector( '#editor' ), {
					licenseKey: '',
                    mediaEmbed: {
                        previewsInData: true
                    },
                    extraPlugins: [ MyCustomUploadAdapterPlugin ]
				} )

				.then( editor => {
					window.editor = editor;

				} )

				.catch( error => {
					console.error( 'Oops, something went wrong!' );
					console.error( 'Please, report the following error on https://github.com/ckeditor/ckeditor5/issues with the build id and the error stack trace:' );
					console.warn( 'Build id: ia47t6hg9pi0-lk1a0ar3wfg9' );
					console.error( error );
				} );

		</script>
<th:block th:replace="layout/fragments/script :: scriptFragment"></th:block>
</html>